### Import Pandas and Glob library

In [59]:
import pandas as pd
import glob

### Locate files directory

In [60]:
path = 'combined/hiking/' 
# path = 'combined/cosplay/' 
all_files = glob.glob(path + "/*.csv")

In [61]:
# read all files in the folder
df = pd.read_csv(all_files[0])

In [44]:
# concatenate all files into one dataframe
for file in all_files[1:]:
    temp_df = pd.read_csv(file, header=0)
    df = pd.concat([df, temp_df], ignore_index=True)

In [62]:
# divide the real price by 10 as rent price

df['rent_price'] = df['rent_price'].str.replace('Rp', '').str.replace('.', '')
df['rent_price'] = pd.to_numeric(df['rent_price'], errors='coerce')

# Membagi nilai di kolom rent_price dengan 10
df['rent_price'] = df['rent_price'] / 10

C:\Users\LEN0V0\AppData\Local\Temp\ipykernel_11224\49572217.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['rent_price'] = df['rent_price'].str.replace('Rp', '').str.replace('.', '')

In [46]:
print(df.head())

                                        product_name  rent_price  \
0  TaffLED Headlamp Flashlight Waterproof LED 3 M...      2500.0
1  TaffLED High Power Headlamp LED Cree XML T6 + ...      6000.0
2  Senter Kepala LED Headlamp Anti Air Bisa 4 Mod...      5500.0
3  Surya Lampu Senter Kepala LED SYH L155C Rechar...      3060.0
4   Senter Lampu Kepala LED Headlamp Battery Lithium      2090.0

                                           url_photo  \
0  https://images.tokopedia.net/img/cache/200-squ...
1  https://images.tokopedia.net/img/cache/200-squ...
2  https://images.tokopedia.net/img/cache/200-squ...
3  https://images.tokopedia.net/img/cache/200-squ...
4  https://images.tokopedia.net/img/cache/200-squ...

                                                link  \
0  https://ta.tokopedia.com/promo/v1/clicks/8a-xg...
1  https://ta.tokopedia.com/promo/v1/clicks/8a-xg...
2  https://ta.tokopedia.com/promo/v1/clicks/8a-xg...
3  https://ta.tokopedia.com/promo/v1/clicks/8a-xg...
4  https://ta.tokopedia.com/promo/v1/clicks/8a-xg...

                         renters  \
0               Pelanet Celluler
1               Pelanet Celluler
2               Pelanet Celluler
3  Surya Lighting Official store
4                        TriMeow

                                         description
0  Informasi Produk TaffLED Headlamp Flashlight W...
1  Headlamp dengan strap flexible yang muat berba...
2  Senter kepala ini hadir dengan strap fleksibel...
3  Surya SYH L155C Senter Kepala LED / Headlamp R...
4  Selamat datang di Trimeow Tempat berbagai maca...

In [47]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9928 entries, 0 to 9927
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  9928 non-null   object
 1   rent_price    9928 non-null   float64
 2   url_photo     9928 non-null   object
 3   link          9928 non-null   object
 4   renters       3174 non-null   object
 5   description   3174 non-null   object
dtypes: float64(1), object(5)
memory usage: 465.5+ KB
None

In [48]:
print(df.describe())

         rent_price
count  9.928000e+03
mean   4.804761e+04
std    1.559523e+05
min    3.000000e+01
25%    5.500000e+03
50%    1.384770e+04
75%    3.500000e+04
max    6.010000e+06

### Drop Null value and duplicates

In [63]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

### Saved combined dataset of hiking and cosplay

In [64]:
# df.to_csv('hiking_dataset.csv', index=False)
df.to_csv('cosplay_dataset.csv', index=False)

### Read the files in the data directory

In [65]:
cosplay_df = pd.read_csv('data/cosplay_dataset.csv')
hiking_df = pd.read_csv('data/hiking_dataset.csv')

### Labeling data

In [56]:
cosplay_df['hiking'] = 0
cosplay_df['cosplay'] = 1

hiking_df['hiking'] = 1
hiking_df['cosplay'] = 0

### Combined data into one csv file

In [57]:
combined_df = pd.concat([cosplay_df, hiking_df], ignore_index=True)

### Save the dataset

In [68]:
combined_df.to_csv('cleaned_dataset.csv', index=False)